@model IEnumerable<RiversideHealthCare.Models.Navigation>

@*main nav bar*@
<nav id="main_nav">
    <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Patients & Visitors</a></li>
        <li><a href="@Url.Action("volunteerIndex","VolunteerPublic")">Volunteers</a></li>
        <li><a href="@Url.Action("doctorIndex","FindDoctorPublic")">Find a Doctor</a></li>
        <li><a href="@Url.Action("Index", "JobPostPublic")">Career</a></li>
        <li><a href="@Url.Action("Contactindex", "ContactPublic")">Contact Us</a></li>
        @foreach (var x in Model)
        {
            <li><a href='@Url.Action("TemplatePublic", "AddContentPublic", new { id = x.id })'>
    @x.title
</a></li>
        }
        
    </ul>
</nav>