@model IEnumerable<RiversideHealthCare.Models.events>

@{
    ViewBag.Title = "Events Admin Index";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
}

<h1>All Events</h1>

<table>
    <thead>
        <tr>
            <th>Event Date</th>
            <th>Name</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        @*LOOP THROUGH ALL EVENTS & DISPLAY IN TABLE*@
        @foreach (var x in Model)
        {
            using (Html.BeginForm("EventDelete", "EventsAdmin", new { id = x.ev_id }))
            {
                @Html.AntiForgeryToken()
                <tr>
                    <td>@x.ev_date.ToString("d")</td>

                    <td>@x.ev_title</td>

                    <td>@x.ev_location</td>

                    <td>
                        @*DISPLAY EDIT & DETAIL LINKS*@
                        @Html.ActionLink("View", "EventDetail", new { id = x.ev_id })
                        /@Html.ActionLink("Edit", "UpdateEvent", new { id = x.ev_id })
                    </td>
                    <td>
                        @*DELETE BUTTON WITH CONFIRMATION POPUP*@
                        <input type="submit" value="delete" name="action" onclick="return confirm('Are you sure you want to delete this item?');" class="buttonstyle" />
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@*INSERT EVENT BUTTON*@
<a href="@Url.Action("InsertEvent", "EventsAdmin")" class="buttonstyle">Add Event</a>



